<%if(login_admin){%>
  <%- include layouts/admin_header.ejs %>
<%}
else{%>
  <%- include layouts/user_header.ejs%>
<%}%>

<div class="modal fade" id="def_turno" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/set_turno" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Aun no a definido su turno: </h4>
        </div>
            
        <div class="modal-body">
              <input type="hidden" id="before" value="<%= before%>">

                <div class="form-group">
                  <select class="form-control" name="codturno">
                    <%for(var j=0; j < data.length; j++){%>
                      <option value="<%= data[j].rutVendedor%>"><%= data[j].nombreVendedor%></option>
                    <%}%>
                  </select>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input name="monto" type="number" class="form-control" placeholder="Ingrese monto de caja chica" value="<%= monto%>" required>
                </div> 

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div><!-- /.modal -->
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">


  $('#def_turno').modal('show');
  /*$("form#turnoForm").submit(function(e){
      e.preventDefault();
      var data = {};
      
      
      data.codturno = $("#codturno").val();
      data.monto = $("#monto").val();
      $.ajax({
        type: 'POST',
        data: data,
        url: '/set_turno',

      });
  });*/
</script>
<%- include layouts/footer.ejs %>