
<!--<div style="display: flex; margin-bottom: 20px">
  <label style="margin-right:  10px">Desde:</label>
  <input style="margin-right:  10px" data-role="tagsinput" id="desde" type="date" class="form-control" placeholder="Ingrese Fecha (dd/mm/aaaa)" aria-describedby="basic-addon1">
  <label style="margin-right:  10px">Hasta:</label>
  <input style="margin-right:  10px" data-role="tagsinput" id="hasta" type="date" class="form-control" placeholder="Ingrese Fecha (dd/mm/aaaa)" aria-describedby="basic-addon1">
</div>

<div style="width: 100%; margin: 10px">
          <button type="button" id="button_rango" class="btn btn-success">Buscar</button>
</div>-->

 
<div class="ajax_container">
<ul id="container_provider">
  <%var montoTotal = 0;
    var cantidad = 0;
  for(var j=0; j< data.length; j++){
            if(j != data.length-1){
              if(data[j].rutVendedor != data[j+1].rutVendedor){
                montoTotal += data[j].monto;
                cantidad += 1;
                %>
              <li class='list-group-item'>
                  <div class="dib">
                    <h4><b>Vendedor:</b> <%=data[j].nombreVendedor%></h4>
                  </div>
                  <div class="dib">
                    <h4><b>Monto Total: </b>$<%=montoTotal%></h4>
                  </div>
                  <div class="dib">
                    <h4><b>Cantidad de ventas: </b><%=cantidad%></h4>
                  </div>
                  <div>
                    <form method="get" action="/details_seller/<%=data[j].rutVendedor%>">
                      <button class='btn btn-default'>
                        <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>  Detalles
                      </button>
                    </form>
                  </div>
                </li>
              <%montoTotal = 0;
                cantidad = 0;
              }
              else{
                montoTotal += data[j].monto;
                cantidad += 1;  
              }
            }
            else{
              montoTotal += data[j].monto;
              cantidad += 1;%>
              <li class='list-group-item'>
                  <div class="dib">
                    <h4><b>Vendedor:</b> <%=data[j].nombreVendedor%></h4>
                  </div>
                  <div class="dib">
                    <h4><b>Monto Total: </b>$<%=montoTotal%></h4>
                  </div>
                  <div class="dib">
                    <h4><b>Cantidad de ventas: </b><%=cantidad%></h4>
                  </div>
                  <div>
                    <form method="get" action="/details_seller/<%=data[j].rutVendedor%>">
                      <button class='btn btn-default'>
                        <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>  Detalles
                      </button>
                    </form>
                  </div>
                </li>
          <%}
        }%>
</ul>
</div>

<script type="text/javascript">
    $('#button_rango').on('click', function(e){
          e.preventDefault();
          $.ajax({
            type: 'POST',
            data: {'desde':$('#desde').val() , 'hasta':$('#hasta').val()},
            url: '/range_sale',
            success: function(data){
                $('.ajax_container').html(data);
            }
        });
    })
</script>