

<%if(login_admin){%>
  <%- include layouts/admin_header.ejs %>
<%}
else{%>
  <%- include layouts/user_header.ejs%>
<%}%>

<h1 class="page-header">Informe de ventas diario:</h1>



<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" >
            <tr id="head">
              <td><b>Detalle de producto</b></td>
              <td><b>Cantidad</b></td>
              <td><b>Precio Unitario</b></td>
              <td><b>Precio Final</b></td>
            </tr>
            <%for(var i=0; i < data.length; i++){%>
              <tr>
                <td><%= data[i].nombre%></td>
                <td><%= data[i].total%></td>  
                <td><%= data[i].precio_u%></td>
                <td></td>
              </tr>
            <%}%> 
    </table>
</div>
<%- include layouts/footer.ejs %>