<%if(login_admin){%>
  <%- include layouts/admin_header.ejs %>
<%}
else{%>
  <%- include layouts/user_header.ejs%>
<%}%>
<style type="text/css">
  .list-group-item:hover {
    background-color: #f5f5f5;
  }
  .panelitem{
        width:33%;
        text-align: center;
    }
</style>

<input type="hidden" id="gan-input">
<input type="hidden" id="flu-input">
<input type="hidden" id="ini-input">

<div class="modal fade" id="quitar-saldo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Quitar saldo: </h4>
        </div>
            
        <div class="modal-body">    
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="monto-menos" type="number" class="form-control" placeholder="Ingrese monto">
                </div>     
                <div>
                  <label for="detalle">Ingrese detalle: </label>
                  <textarea id="detflujo" style="width: 100%" rows="4" cols="50"></textarea>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary men-saldo" data-dismiss="modal">Enviar</button>
        </div><!-- /.modal -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<h1 class="page-header">Informe de ventas diario:</h1>
 
<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method='post' action="/cerrar_turno">
              <input type="hidden" name="idcaja" id="idcaja" value="<%=caja.idcaja%>">
              <input type="hidden" id="caja-inicial" name="inicial" value="<%=caja.monto%>">
              <input type="hidden" id="caja-final" name="final">
              <div class="panel panel-danger">
                  <div class="panel-heading" style="display: flex;">
                      <h1 style="width: 80%">Turno: <%= caja.nombre%></h1>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quitar-saldo">Quitar saldo</button>
                      <button type="submit" class="btn btn-success cerrar-turno">Cerrar Turno</button>
                  </div>
                  <div class="panel-body" style="display: flex;">
                      <div class="panelitem"><p><strong>Monto Inicial:</strong></p><p class="cash-inicial"  style="margin-top: 5px">$<%= caja.monto%></p></div>
                      <div class="panelitem"><p><strong>Diferencia: </strong></p><p class="cash" style="margin-top: 5px"></p></div>
                      <div class="panelitem"><p><strong>Monto Final: </strong></p><p class="cash-final" style="margin-top: 5px"></p></div>
                  </div>
              </div>
            </form>
        </div>
    </div>
<div class="row">
  <div class="col-md-offset-1 col-md-10" style="margin-bottom: 1%">
    <div class="panel panel-info .fluid-cash" style="cursor: pointer;">
      <div class="panel-heading" style="display: flex;" data-toggle="collapse" data-target="#flujo">
        <h2>Flujo de caja</h2>

        <div class="panelitem" style="margin-top: 10px; margin-left: 5%"><p><strong>Total:</strong></p><p class="div-flujo" style="margin-top: 2px">$
        <%=parseInt(flujo)*parseInt(-1)%></p></div>
      </div>
    <div class="collapse panel-body" id="flujo"> 
      <div class="table-responsive tabla-flujo">
           
      </div>
      </div>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <div class="panel panel-info">
    <div class="panel-heading" style="display: flex;">
      <h2>Unitarios</h2>
      <div class="panelitem" style="margin-top: 10px; margin-left: 5%"><p><strong>Monto Total:</strong></p><p class="monto-unidad"  style="margin-top: 2px"></p></div>
      <div class="panelitem" style="margin-top: 10px; margin-left: 5%"><p><strong>Total Productos:</strong></p><p class="monto-productos"  style="margin-top: 2px"></p></div>
    </div>
    <div class="panel-body"> 
      <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" >
                  <tr id="head">
                    <td><b>Detalle de producto</b></td>
                    <td><b>Cantidad</b></td>
                    <td><b>Precio Unitario</b></td>
                    <td><b>Precio Final</b></td>
                  </tr>
                  <%
                  var lastId = data.length;
                  for(var i=0; i < data.length; i++){%>
                    <tr class="fila unidad" id="fila<%=i%>">
                      <td><%= data[i].nombre%></td>
                      <td class="cant" data-cant="<%=data[i].total%>" ><%= data[i].total%></td>  
                      <td class="precio_u" data-precio="<%= data[i].precio_u%>">$<%= data[i].precio_u%></td>
                      <td class="precio_t"></td>
                    </tr>
                  <%}%> 
          </table>
      </div>
      </div>
  </div>
</div>

<div class="col-md-5">
  <div class="panel panel-success">
    <div class="panel-heading" style="display: flex;">
      <h2>Granel</h2>
      <div class="panelitem" style="margin-top: 10px; margin-left: 5%"><p><strong>Monto Total:</strong></p><p class="monto-granel"  style="margin-top: 2px"></p></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" >
                    <tr id="head">
                      <td><b>Detalle de producto</b></td>
                      <td><b>Precio Total</b></td>
                    </tr>
                    <%for(var i=0; i < data2.length; i++){%>
                      <tr class="fila granel" id="fila<%=i+lastId%>">
                        <td><%= data2[i].nombre%></td>
                        <td style="display: none" class="cant" data-cant="<%=data2[i].total%>" ><%= data2[i].total%></td>  
                        <td style="display: none" class="precio_u" data-precio="<%= data2[i].precio_u%>">$<%= data2[i].precio_u%></td>
                        <td class="precio_t"></td>
                      </tr>
                    <%}%> 
            </table>
        </div>
      </div>
  </div>
</div>
</div>
<!--<div class="row">
  <div class="col-md-10 col-md-offset-1 list-group">
    <div class="list-group-item">
      <p class="cash"></p>
    </div>
  </div>

</div>-->


<script type="text/javascript">
    function recalcular(monto, dif, fl){
      $(".div-flujo").html("$ "+fl);
      $(".cash-inicial").html("$"+monto);
      $(".cash-final").html("$"+parseInt(monto + dif - fl).toString());
      $("#gan-input").val(dif);
      $("#flu-input").val(fl);
      $("#ini-input").val(monto);
      
    }
     function refrescar_all(mont){
        $("#flu-input").val(parseInt($("#flu-input").val()) + parseInt(mont));

        recalcular(parseInt($("#ini-input").val()) , parseInt($("#gan-input").val()),parseInt($("#flu-input").val()));      
     } 

    function render_flujotabla(idcaja){
      $.ajax({
        type: 'GET',
        url: '/flujo_turno/'+idcaja,
        success: function(data){
          $(".tabla-flujo").html(data);
        }
      });
    }
    render_flujotabla(<%=caja.idcaja%>);
    
    var id;
    var cantidad;
    var precio_u;
    var monto_inicial = parseInt($("#caja-inicial").val());
    var monto_unidad = 0;
    var monto_granel = 0;
    var monto_productos = 0;
    var caja_total = 0;
    var flujo_total = <%=parseInt(flujo)%>;
    
    $(".fila").each(function(){
      id = $(this).attr('id'); 
      cantidad = $("#"+id+" .cant").data('cant');
      precio_u = $("#"+id+" .precio_u").data('precio');
      $("#"+id+" .precio_t").html("$"+parseInt(cantidad*precio_u).toString());
      caja_total += (cantidad*precio_u);
    });
    $(".unidad").each(function(){
        id = $(this).attr('id');
        cantidad = $("#"+id+" .cant").data('cant');
        precio_u = $("#"+id+" .precio_u").data('precio');
        monto_unidad += parseInt(cantidad*precio_u);
        monto_productos += parseInt(cantidad);
    });
    $(".granel").each(function(){
        id = $(this).attr('id');
        precio_u = $("#"+id+" .precio_u").data('precio');
        monto_granel += parseInt(precio_u);
    });
    $(".monto-unidad").html("$"+monto_unidad);
    $(".monto-granel").html("$"+monto_granel);
    $(".monto-productos").html(monto_productos);
    $(".cash").html("$"+caja_total);
    $("#caja-final").val(parseInt(caja_total + monto_inicial - flujo_total));
    recalcular(monto_inicial, caja_total,flujo_total);
    

    $(".men-saldo").on('click', function(e){
        //e.preventDefault();
        $.ajax({
          type: 'POST',
          data: {idcaja: $("#idcaja").val(), monto: $("#monto-menos").val(), detalle: $("#detflujo").val()},
          url: '/quitar_saldo',
          success: function(data){
            render_flujotabla($("#idcaja").val());
            refrescar_all($("#monto-menos").val());
            
          }
        });
    });
   


</script>
<%- include layouts/footer.ejs %>