<%if(login_admin){%>
<%- include layouts/admin_header.ejs %>
<%}
else{%>
  <%- include layouts/user_header.ejs%>
<%}%>
<h1 class="page-header">Resultados de busqueda: <b><%=busqueda%></b></h1>
<ul id="container_all_products">
  
</ul>
<div class="container_details" style="background-color: rgb(235, 235, 235); position: absolute; right: 15%; top: -300%; transition: 1s; width: 70%; padding: 10px; box-shadow: 10px 10px 5px #888888; border: solid 1px; ">
  <div class="container" style="position: relative; width: 100%">
      <input type="hidden" id="codigo_producto">
      <h4>Editar producto: <b class="codeProducto"></b></h4>
      <label>Ingrese nuevo nombre:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input id="newNombre" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
        </div>
        <label>Ingrese nuevo stock:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input id="newStock" type="text" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1">
        </div>
        <label>Ingrese nuevo precio:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input  id="newPrecio" type="text" class="form-control" placeholder="Precio" aria-describedby="basic-addon1">
        </div>
  </div>
  <div style="display: flex; margin: 10px;">
    <div class='editProductSearch' style="margin: 5px;">
      <button class='btn btn-default'><span class='glyphiconglyphicon-th-list' aria-hidden='true'></span>Editar</button>
    </div>
    <div class='cancel' style="margin: 5px;">
      <button class='btn btn-default'><span class='glyphiconglyphicon-th-list' aria-hidden='true'></span>Cancelar</button>
    </div>
  </div>
</div>
<script type="text/javascript">
      $.ajax({
        type: 'POST',
        data: {NombreProduct: "<%= busqueda%>"},
        url: '/buscar_nombre_render',
        success: function(data){
           $("#container_all_products").html(data);
        }
      });

      
      $('.editProductSearch').on('click', function(e){
              e.preventDefault();
              $.ajax({
                type: 'POST',
                data: {
                  'codigo': $("#codigo_producto").val(),
                  'nombre': $("#newNombre").val(),
                  'stock': $("#newStock").val(),
                  'precio': $("#newPrecio").val()
                },
                url: '/editar_producto',
                success: function(data){
                      $('.container_stock').html(data);  
                      $("#codigo_producto").val('');
                      $('.container_details').css('top', '-200%');
                      alert("Producto editado correctamente");
                      //location.reload();
                     $.ajax({
                        type: 'POST',
                        data: {NombreProduct: "<%= busqueda%>"},
                        url: '/buscar_nombre_render',
                        success: function(data){
                          $("#container_all_products").html(data);
                        }
                      });
                }
              });
      });

      $('.cancel').on('click', function(e){
              e.preventDefault();
              $('.container_details').css('top', '-200%');
                
      });


</script>


<%- include layouts/footer.ejs %>