<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/style_printer.css">
<script src="/assets/js/JsBarcode.all.min.js"></script>

<div class="table-responsive" id="tabla_productos">
  <input type="hidden" id="codFactura" value="<%=codFactura%>">
  <input type="hidden" id="productosTotales" value="<%=Sumcantidad%>">
    <table class="table table-bordered" id="list_product">
            <tr id="head">
              <td><b>Producto</b></td>
              <td><b>Precio por unidad</b></td>
              <td><b>Unidades</b></td>
              <td></td>
            </tr>
          <%for(var i=0; i<datos.length; i++){%>
                <tr>
                    <td><b><%=datos[i].nombre%></b><input type="hidden" class="nombre" value="<%=datos[i].nombre%>"></td>
                    <td class="in_text" id="<%=i%>"><b>$<%=datos[i].precio%></b></td>
                    <td><b><%=datos[i].cantidad%></b><input type="hidden" id="c<%=datos[i].id_producto%>" value="<%=datos[i].cantidad%>"></td>
                    <td>
                        <div class='buttons'>
                          <div class="delete" id="d<%=datos[i].id_producto%>">
                            <button class='btn btn-default'>
                              <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                            </button>
                          </div>    
                        </div>
                    </td>   
                </tr>
          <%}%>
          <tr id="head">  
              <td></td>
              <td></td> 
              <td>Cantidad Total: <%=Sumcantidad%></td>
              <td class="ganTotal">Ganancia Total: </td>
          </tr>         
    </table>
</div>

<div class="next">
  <form id="sig" method="post" action="/saved_facture">
  <input type="hidden" name="id_factura" value="<%=codFactura%>">
  <button class='btn btn-default' type="submit">
                <span class='glyphicon glyphicon-check' aria-hidden='true'></span>  Terminar Inventario
      </button>
  </form>
</div>
<script type="text/javascript">
      

      var precioBulto = $('#precioBulto').val();
      var productosTotales =  $('#productosTotales').val();
      var precioProductos = {}; 


      $('#PrecioBulto').val(precioBulto);
</script>